.dropdown {
    width: 250px;
    height: 40px;
    border-radius: 12px;
    background-color: #FAFAFA;
    color: #333;
    border: 2px solid #ccc;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    padding: 0 12px;
    transition: border-color 0.3s, background-color 0.3s;
  }
  
  .dropdown:hover {
    border-color: #FFDE5A;
  }
  
  .dropdown:focus {
    border-color: #FFDE5A; /* Акцент на рамку при фокусе */
    outline: none; /* Убирает стандартную обводку браузера */
  }
  
  .dropdown::placeholder {
    color: #aaa;
  }
  
  option {
    background-color: #FAFAFA;
    color: #333;
    border: 2px solid #ccc;
  }