.categorySelector {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

.categorySelector {
  margin-top: 20px;
  font-size: larger;
}

.buttonContainer {
  display: flex;
  height: 170px;
  justify-content: center; /* Центрируем кнопки по горизонтали */
  align-items: flex-start; /* Выравниваем кнопки по верхнему краю */
  text-align: center;
  margin-top: 20px;
}

.buttonContainer button {
  display: flex;

  border: none;
  background: none;
 
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.buttonContainer button span {
  align-items: flex-end;
  margin-top: 5px;
}

.buttonContainer button img {
  display: flex;
  justify-content: center;
  width: 80px;
  object-fit: contain;
}

.buttonContainer button:hover {
  opacity: 0.8;
}

.buttonContainer button:active {
  opacity: 0.6;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.dropdown select {
  background-color: #fafafa;
}

.sortButton {
  display: flex;
  justify-content: end;
  margin-right: 600px;
}

.imgStyle {
  border-radius: 30%;
}

@media (max-width: 1800px) {
  .sortButton {
    margin-right: 150px;
  }
}

@media (max-width: 1200px) {
  .sortButton {
    margin-right: 50px;
  }
}

@media (max-width: 300px) {
  .sortButton {
    margin-right: 10px;
  }
}