.categorySelector {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  height: 170px;
  justify-content: center; /* Центрируем кнопки по горизонтали */
  align-items: flex-start; /* Выравниваем кнопки по верхнему краю */
  text-align: center;
 }

.buttonContainer button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.buttonContainer button span {
  align-items:flex-end ;
 background-color: black;
}

.buttonContainer button img {
  display: block;
  width: 100px;
}

.buttonContainer button:hover {
  opacity: 0.8;
}

.buttonContainer button:active {
  opacity: 0.6;
}

.dropdown {
  display: flex;
  justify-content: center;
}

.dropdown select {
  background-color: #fafafa;
}
