.form {
    display: flex;
    flex-direction: column;
    border: 5px;
    border-radius: 5px;
    background-color: rgb(142, 142, 148);
    gap: 10px;
    padding: 5px;
    color:rgb(245, 245, 248)
}

.input{
border-radius: 5px;
background-color: rgb(236, 229, 229);
color: black;
padding: 3px;
}


.submitButton{
margin-top: 50px;
color: brown;
background-color: black;
}
