.passwordRecoveryContainer{
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #fff8e8;
}

.image {
  background-image: url("/signIn1.jpg");
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
}

.image img {
  width: 100%;
  min-width: 1000px;
  object-fit: contain;
  object-position: left;
  overflow: hidden;
  
}

.formContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fff8e8;
  }
  
  .form {
    background: #fff8e8;
    display: flex;
    flex-direction: column;  
  }
  
  .title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    width: 20vw; /* 45% от ширины экрана */
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .btnGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .inputContainer input {
    height: 50px;
    font-size: 18px !important;
    padding: 10px;
    border-color: #d6cfcf;
    border-width: 2px;
    background-color: #fff8e8;
    color: black;
  }