.header {
  display: flex;
  justify-content: left;
  align-items: center;

  width: 100%;
  height: 117px;
  gap: 15px;
  padding: 0px 20px;

  background-color: #fafafa;
  margin-bottom: 15px;
  border-bottom: 2px solid #000; /* Нижняя граница */
}

.header a {
  color: white;
}

.header a:hover {
  text-decoration: underline;
}

.totalAmount {
  color: rgb(187, 94, 199);
  font-size: 18px;
  font-style: oblique;
}

.userInfo {
  color: aquamarine;
  margin-right: 10px;
  text-decoration: underline;
  /* border: 1px solid rgb(241, 238, 238); */
  padding: 3px;
}

.header > div:last-child {
  margin-left: auto;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.dropdown {
   margin-left: 35px;
}


