.header {
  display: flex;
  justify-content: left;
  align-items: center;

  width: 100%;
  height: 100%;
  height: 117px;
  gap: 15px;

  background-color: #fff8e6;
  border-bottom: 2px solid #000; /* Нижняя граница */
}

.header a {
  color: white;
}


.totalAmount {
  color: rgb(187, 94, 199);
  font-size: 18px;
  font-style: oblique;
}

.userInfo {
  color: aquamarine;
  margin-right: 10px;
  text-decoration: underline;
  /* border: 1px solid rgb(241, 238, 238); */
  padding: 3px;
}

.header > div:last-child {
  margin-left: auto;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.dropdown {
  margin-left: 35px;
}

/* приветствие юзеру - имя + фото */
.authUserFirstName {
  color: black;
}
.authUserProfilePicture {
  width: 30px;
  height: 40px;
}

.menuLinkContainer {
  display: flex;
 
 width: 100vh;
 
}

.linkBlock {
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: larger;
  gap: 30px;
}

.menuLink {
  color: #000;
}

a.menuLink {
  color: #000;
  text-decoration: none
}

a.menuLink:hover {
  color: #FCCC00;
  }

span.menuLink {
cursor: pointer;
}

span.menuLink:hover {
  color: #FCCC00;
  }

a.menuLinkCreateOffer {
  color: #000;
  text-decoration: none
}

a.menuLinkCreateOffer {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  transition: color 0.3s ease;

  &:hover {
    color: #FCCC00; /* изменение цвета при наведении */
  }

  /* Пульсация */
  animation: pulse 3.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1); /* увеличиваем размер */
    opacity: 0.7; /* немного делаем прозрачным */
  }
  100% {
    transform: scale(1); /* возвращаем в исходное состояние */
    opacity: 1;
  }
}


/* Медиазапрос для экранов шириной до 1200px */
@media (max-width: 1200px) {
  .menuLinkContainer {
    gap: 150px; /* уменьшили gap для больших экранов */
  }
}

/* Медиазапрос для экранов шириной до 992px */
@media (max-width: 992px) {
  .menuLinkContainer {
    gap: 100px; /* уменьшаем gap для средних экранов */
  }
}

/* Медиазапрос для экранов шириной до 768px */
@media (max-width: 768px) {
  .menuLinkContainer {
    gap: 50px; /* еще уменьшаем gap для маленьких экранов */
  }
}

/* Медиазапрос для экранов шириной до 480px */
@media (max-width: 480px) {
  .menuLinkContainer {
    gap: 20px; /* минимальный gap для самых маленьких экранов */
  }
}

/* Медиазапрос для экранов шириной меньше 1200px */
@media (max-width: 1200px) {
  .menuLinkContainer {
    width: 70vh; /* Уменьшаем ширину для экранов меньше 1200px */
    flex-direction: column; /* Меняем расположение элементов на вертикальное */
  }
}

/* Медиазапрос для экранов шириной меньше 768px */
@media (max-width: 768px) {
  .menuLinkContainer {
    width: 60vh; /* Уменьшаем ширину для экранов меньше 768px */
    flex-direction: column; /* Вертикальное расположение элементов */
    gap: 10px; /* Добавляем немного пространства между элементами */
  }
}

/* Медиазапрос для экранов шириной меньше 480px */
@media (max-width: 480px) {
  .menuLinkContainer {
    width: 50vh; /* Уменьшаем ширину для экранов меньше 480px */
    gap: 5px; /* Уменьшаем расстояние между элементами */
  }
}