.myButton {
  margin: 3px;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary {
  background-color: #FFDE5A;
}

.danger {
  background-color: #b92508;
  color: white;
}

.easy {
  background-color: #B5B9BD;
  color: white;
  width: 100%;
}

.primary:hover {
  background-color: #e9c740;
}

.danger:hover {
  background-color: #571103;
}

.disabled {
  background-color: #ccc;
  color: rgb(108, 108, 108);
  cursor: not-allowed;
}

.disabled:hover {
  background-color: #ccc;
}

/*?  for function sort by price  */
.sortContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
  transition: background-color 0.2s ease;
}


.sortContainerText {
  color: grey;
  font-size: 16px;
  user-select: none; 
}


.sortContainer img {
  width: 16px;
  height: 16px;
}

.sortContainer:focus,
.sortContainer:active {
  outline: none;
  box-shadow: none;
}
