#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;

}
/* Делает весь текст в CKEditor черным */
.ck-content, .ck-content * {
  color: #000000 !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap; /* если нужно сохранять переносы строк */
}

/* .ck-editor__main {
  width: 50vw;
} */


.ck-editor__editable {
 
  max-height: 30em;       /* максимум примерно 25 строк */
  overflow-y: auto;       /* вертикальный скролл, если много текста */
  min-height: 25em;        /* минимальная высота — около 5 строк */
  resize: vertical;       /* если хочешь, чтобы пользователь мог сам растягивать */
}
  

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
